
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	color: #ffffff;
	background: #4b4743;
}

/* Editimi i shkrimit te NavBar*/
/*a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} */

