@model int

<div class="col text-right">
    <form method="get" action="/Books/RemoveFromCart">
    </form>
</div>

<div class="col text-right">
    <form method="get" action="/Books/RemoveFromCart">
        <input type="hidden" value="@Model" name="id">
        <button type="submit" class="btn btn-danger">-</button>
    </form>
</div>
