<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Book Store Template, Free CSS Template, CSS Website Layout</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="~/css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #templatemo_content {
            display: flex;
            justify-content: flex-start;
            left: 0;
        }

        #templatemo_content_left {
            position: fixed;
            left: 0;
            width: 188px;
            padding: 10px;
            background-color: #1c1c1b;
            border: 1px solid #22120;
        }

        .templatemo_content_left_section {
            clear: both;
            padding-bottom: 10px;
            border-bottom: 1px solid #2b2b2a;
            margin-bottom: 20px;
        }

        #templatemo_footer {
            clear: both;
            padding: 20px 0px;
            text-align: end;
            color: #999;
            height: 180px;
            position: fixed;
            bottom: 0;
            left: 0;
            min-width: 100%;
        }

        #templatemo_ads {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #templatemo_footer a {
            color: #fff;
            font-weight: normal;
        }
    </style>
</head>
<body>

    <div id="templatemo_content">
        <div id="templatemo_content_left">
            <div class="templatemo_content_left_section">
                <h1>Categories</h1>
                <ul>
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 1</a></li>
                </ul>
            </div>
            <div class="templatemo_content_left_section">
                <h1>Bestsellers</h1>
                <ul>
                    <li><a href="#">Book 1</a></li>
                    <li><a href="#">Book 1</a></li>
                    <li><a href="#">Book 1</a></li>
                    <li><a href="#">Book 1</a></li>
                    <li><a href="#">Book 1</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="templatemo_footer">
        <div id="templatemo_ads">
            <img src="images/templatemo_ads.jpg" alt="Advertisement" />
        </div>
    </div>
</body>
</html>