@model List<LibraryProject.DataAccess.Models.Book>

@{
    ViewData["Title"] = "FilterBookView";
}

<h1 class="mt-4">Book Information</h1>

         <section>
    @if (Context.Request.Query.ContainsKey("q"))
    {
        <div class="alert alert-info">
            Showing results for: @Context.Request.Query["q"]
        </div>
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title">Book Details</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-4 text-muted">Title:</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => book.Title)</dd>

                                <dt class="col-sm-4 text-muted">Description:</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => book.Description)</dd>

                                <dt class="col-sm-4 text-muted">Book:</dt>
                                <dd class="col-sm-8">
                                    <img src="@Url.Content(book.ImagePath)" alt="Book Image" class="img-thumbnail" />
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</section>
